<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "Content-Type, origin, x-requested-with, accept"
    Header set Access-Control-Allow-Methods: "OPTIONS, GET, HEAD, DELETE, PUT, POST"
</IfModule>
